---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";

img {
  max-width: 1030px;
}

pre {
  background-color: #eee;
  max-height: 250px;
  overflow-y: auto;
}
