---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";

.md-card-container {
  float: left;
  margin-right: 10px;
  width: 490px;
  min-height: 220px;
}

h1 {
  clear: both;
}

#benchmarks {
  hr {
    clear: both;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #cdcdcd;
  }
}

.charm-card__header {
  h1 {
    clear: none;
  }

  ul {
    margin: 0;
  }
}

.juju-card__container {
  li {
    line-height: 1;
    font-size: 16px;
  }
}
